.navbar {
    background-color: #000;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    box-shadow: 0 0 10px rgba(255, 251, 251, 0.986);
}

.logo {
    color: #fff;
    text-decoration: none;
    font-size:3rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
}
